<p>revenue-manage works!</p>
<!--<div flex-gt-sm="50">-->
<!--  <div class="pad">-->
<!--    <div [style.height.px]="250">-->
<!--      <ngx-charts-bar-vertical-->
<!--        [results]="single"-->
<!--        [view]=[500,250]-->
<!--        [scheme]="{ domain: [ '#30E07B', '#E75691', '#00C0FF', '#5D6A75' ] }"-->
<!--        [gradient]="true"-->
<!--        [xAxis]="true"-->
<!--        [yAxis]="true"-->
<!--        [legend]="true"-->
<!--        [xAxisLabel]="'Jaar'"-->
<!--        [yAxisLabel]="'Aantal Leden'"-->
<!--        [showXAxisLabel]="true"-->
<!--        [showYAxisLabel]="true">-->
<!--      </ngx-charts-bar-vertical>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
